doctype 5
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SSP ReBoot
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/bootstrap-theme.css" rel="stylesheet")
  body
    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="/javascripts/bootstrap.min.js")

    //View service order details
    .modal.fade(tabindex="-1" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content

    //Create a service request using equipment SerialNumber
    .modal.fade(tabindex="-1" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content

    //Header
    .page-header
      ul.nav.nav-pills
        li.active 
          a(href="/hi") Home
        li(style="float:right")
          a(href="/logout") Log Out

    .container
      .jumbotron

    //Jumbotron
    //-.jumbotron
    //-  .container-fluid

    h1(style="color:RGB(66,139,202);") Open Service Orders 
    div
      table(style="width:100%")
        tr
          th(style="padding:5px; color:grey; text-align:center;") Service Order
          th(style="padding:5px; color:grey; text-align:center;") Equipment
          th(style="padding:5px; color:grey; text-align:center;") Product
          th(style="padding:5px; color:grey; text-align:center;") Date Service Requested
          th(style="padding:5px; color:grey; text-align:center;") Problem Type
          th(style="padding:5px; color:grey; text-align:center;") Status

        for order in Orders
          tr
            td(style="padding:5px")
              a(data-toggle="modal" href="/customer/details?id=#{order._id}" data-target="#myModal")= order._id
            td(style="padding:5px")= order._Equipment.SerialNumber
            td(style="padding:5px")= order._Product.ProductName
            td(style="padding:5px") #{moment(order.OpenDate).format('dddd, MMMM D, YYYY h:mm a')}
            td(style="padding:5px")= order.ProblemTypeDescription
            td(style="padding:5px")= order.CurrentStatus

    h1(style="color:RGB(66,139,202);") My Equipment
    div
      table(style="width:100%")
        tr
          th(style="padding:5px; color:grey; text-align:center;") Equipment
          th(style="padding:5px; color:grey; text-align:center;") Product
          th(style="padding:5px; color:grey; text-align:center;") Maintenance
          th(style="padding:5px; color:grey; text-align:center;") Date Required

        for equip in Equipment
          tr
            td(style="padding:5px") 
              //- a(href="/customer/create?serial=#{equip.SerialNumber}")=equip.SerialNumber
              a(data-toggle="modal" href="/customer/neworder?serial=#{equip.SerialNumber}" data-target="#myModal2")=equip.SerialNumber
            td(style="padding:5px")= equip._Product.ProductName
            td(style="padding:5px")= equip.NextPMDescription
            td(style="padding:5px") 
              if (Today >= moment(equip.NextPMDate))
                span(style="color:red;") #{moment(equip.NextPMDate).format('MMMM D, YYYY')}
              else
                span(style="color:green;") #{moment(equip.NextPMDate).format('MMMM D, YYYY')}


    script
      $(document).ready(function(){
        $('body').on('hidden.bs.modal', '.modal', function () {
          $(this).removeData('bs.modal');
        });
      });
