doctype 5
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SSP Sprint
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/bootstrap-theme.css" rel="stylesheet")
  body
    script(src="/javascripts/jquery-2.0.3.min.js")
    script(src="/javascripts/bootstrap.min.js")

    //View service order details
    .modal.fade(tabindex="-1" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content

    //Check out a service order
    .modal.fade(tabindex="-1" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content

    //Header
    .page-header
      ul.nav.nav-pills
        li.active 
          a(href="/hi") Home
        li(style="float:right")
          a(href="/") Log Out

    h2(style="color:#FF9C00;") Engineering Portal
    //Jumbotron
    .container
      .jumbotron
    h2(style="color:#FF9C00;") On-Site Service Orders 
    div.tables
      table(style="width:100%")
        tr
          th(style="padding:5px; color:grey; text-align:center;") Service Order
          th(style="padding:5px; color:grey; text-align:center;") Customer 
          th(style="padding:5px; color:grey; text-align:center;") Product
          th(style="padding:5px; color:grey; text-align:center;") Problem Type
          th(style="padding:5px; color:grey; text-align:center;") Priority

        for onsite in onsited
          tr
            td(style="padding:5px")
              a(data-toggle="modal" href="/engineer/details?id=#{onsite._id}" data-target="#myModal")= onsite._id
            td(style="padding:5px")= onsite.CustomerName
            td(style="padding:5px")= onsite._Product
            td(style="padding:5px")= onsite.ProblemTypeDescription
            td(style="padding:5px")= onsite.PriorityDescription
            td(style="padding:5px")
              form(name='form2'  action='/engineer/checkout' method='post')
                input(type="hidden" name="Today" value="#{Today}")
                input(type="hidden" name="_id" value="#{onsite._id}")
                input(type="hidden" name="StatusDescription" value="Completed")
                input(type="hidden" name="ActionNotes" value="test note")
                a.btn.btn-success(data-toggle="modal" href="/engineer/checkoutModal?orderID=#{onsite._id}" data-target="#myModal2") Check Out
    

    h2(style="color:#FF9C00") Current Service Orders 
    div.tables
      table(style="width:100%")
        tr
          th(style="padding:5px; color:grey; text-align:center;") Service Order
          th(style="padding:5px; color:grey; text-align:center;") Customer 
          th(style="padding:5px; color:grey; text-align:center;") Product
          th(style="padding:5px; color:grey; text-align:center;") Problem Type
          th(style="padding:5px; color:grey; text-align:center;") Status
          th(style="padding:5px; color:grey; text-align:center;") Priority

        for accept in accepted
          tr
            td(style="padding:5px")
              a(data-toggle="modal" href="/engineer/details?id=#{accept._id}" data-target="#myModal")= accept._id
            td(style="padding:5px")= accept.CustomerName
            td(style="padding:5px")= accept._Product
            td(style="padding:5px")= accept.ProblemTypeDescription
            td(style="padding:5px")= accept.CurrentStatus
            td(style="padding:5px")= accept.PriorityDescription
            td(style="padding:5px") 
              form(name='form2'  action='/engineer/checkin' method='post')
                input(type="hidden" name="Today" value="#{Today}")
                input(type="hidden" name="_id" value="#{accept._id}")
                button.btn.btn-success(type="submit" name="submit" value="submit") Check In
    

    h2(style="color:#FF9C00;") Assigned Service Orders 
    div.tables
      table(style="width:100%")
        tr
          th(style="padding:5px; color:grey; text-align:center;") Service Order
          th(style="padding:5px; color:grey; text-align:center;") Customer 
          th(style="padding:5px; color:grey; text-align:center;") Product
          th(style="padding:5px; color:grey; text-align:center;") Problem Type
          th(style="padding:5px; color:grey; text-align:center;") Priority

        for assign in assigned
          tr
            td(style="padding:5px")
              a(data-toggle="modal" href="/engineer/details?id=#{assign._id}" data-target="#myModal")= assign._id
            td(style="padding:5px")= assign.CustomerName
            td(style="padding:5px")= assign._Product
            td(style="padding:5px")= assign.ProblemTypeDescription
            td(style="padding:5px")= assign.PriorityDescription
            td(style="padding:5px")
              form(name='form1'  action='/engineer/accept' method='post')
                input(type="hidden" name="Today" value="#{Today}")
                input(type="hidden" name="_id" value="#{assign._id}") 
                button.btn.btn-success(type="submit" name="submit" value="submit") Accept

    script
      $(document).ready(function(){
        $('body').on('hidden.bs.modal', '.modal', function () {
          $(this).removeData('bs.modal');
        });
      });
