doctype 5
html
  head
  body
    form(role="form" id="create" name="create" method="post" action="/engineer/checkout")
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.myModalLabel.modal-title Check Out of Service Request
      .modal-body 
        .modal-body.form-horizontal
          .form-group
            label.col-sm-3.control-label Date Checked Out:
            .col-sm-9
              p.form-control-static #{moment(Today).format('dddd, MMMM Do YYYY')}
          .form-group
            label.col-sm-3.control-label(for="Status") Status:
            .col-sm-9
              select.form-control(name="StatusDescription" id="StatusDescription"  required)
                option(value="" default selected) Select The Current Status
                 for statusType in statusTypes
                  option(value="#{statusType.StatusDescription}") #{statusType.StatusDescription}
          //- .form-group(id="PM")
          //- .form-group
          //-   label.col-sm-2.control-label(for="Priority") Priority:
          //-   .col-sm-10
          //-     select.form-control(name="Priority" id="Priority"  required)
          //-       option(value="" default selected) Select The Severity Of The Issue You Are Experiencing
          //-       - for priority in priorities
          //-         option(value="#{priority.PriorityDescription}") #{priority.PriorityDescription}
          //- .form-group
          //-   label.col-sm-2.control-label(for="ContactName") Contact Name:
          //-   .col-sm-10
          //-     input.form-control(type="text" name="ContactName" id="ContactName"  required placeholder="Example: Albert Einstien")
          //- .form-group
          //-   label.col-sm-2.control-label(for="ContactEmail") Contact Email:
          //-   .col-sm-10
          //-     input.form-control(type="email" name="ContactEmail" id="ContactEmail"  required placeholder="Example: aeinstein@genius.com")
          //- .form-group
          //-   label.col-sm-2.control-label(for="ContactPhone") Contact Phone:
          //-   .col-sm-10
          //-     input.form-control(type="tel" name="ContactPhone" id="ContactPhone"  required placeholder="Example: 123-456-7890")
          .form-group
            label.col-sm-3.control-label Notes:
            .col-sm-9
              textarea.form-control(id="ActionNotes" rows="7" name="ActionNotes" placeholder="Add Any Action Notes Here...")
          .modal-footer
            input(type="hidden" name="Today" value="#{Today}")
            input(type="hidden" name="_id" value="#{_id}")
            button.btn.btn-success(type="submit" name="submit" value="submit") Check Out
            button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
    script
      $(document).ready(function(){
      });
